.infostend {
    background-color: var(--content-bg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.infostend_item {
    display: flex;
    align-items: center;
    width: calc(100% / 3);
}
.infostend_item:nth-child(1) {
    padding: 25px 20px;
}
.infostend_item:nth-child(2) {
    padding: 25px 20px 25px 0;
}
.infostend_item:nth-child(3) {
    padding: 25px 20px 25px 0;
}

.item_icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0;
}

.item_title {
    font-size: 14px;
}

/* Adaptive for Tablet */
@media screen and (min-width: 611px) and (max-width: 860px) {
        .infostend_item {
           flex-direction: column;
           width: calc(100% / 2);
        }
        .infostend_item:nth-child(3) {
            padding: 0 0 25px 20px;
        }
}

/* Adaptive for mobile */
@media screen and (max-width: 610px) {

    .infostend_item {
        width: 100%;
    }
    .infostend_item:nth-child(2) {
        padding: 25px 20px 25px 20px;
    }

    .infostend_item:nth-child(3) {
        padding: 25px 20px 25px 20px;
    }
}